In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('https://raw.githubusercontent.com/delinai/schulich_ds1_2024/main/Datasets/Assignment1_StreamFlow_Subscription_Data.csv')
df.head()
df['Date_of_Churn'] = pd.to_datetime(df['Date_of_Churn'])
df['Subscription_Start_Date'] = pd.to_datetime(df['Subscription_Start_Date'])
df['tenure']= df['Date_of_Churn'] - df['Subscription_Start_Date']
df.head()
Gender_mapping = {"Female": 1, "Male": 2, "Other": 3}
df['Gender'] = df['Gender'].map(Gender_mapping)
df.head()
df.Location.value_counts()


Location_mapping = {"West": 1, "North": 2, "Central": 3, 'East': 4, 'South': 5}
df['Location'] = df['Location'].map(Location_mapping)
df.head()
Subscription_mapping = {"Premium": 1, "Standard": 2, "Basic": 3}
df['Subscription_Type'] = df['Subscription_Type'].map(Subscription_mapping)
df.head()
df.Payment_Method.value_counts()

Payment_Method
Credit Card     613
Direct Debit    194
PayPal          193
Name: count, dtype: int64

In [2]:
Payment_mapping = {"Credit Card": 1, "Direct Debit": 2, "PayPal": 3}
df['Payment_Method'] = df['Payment_Method'].map(Payment_mapping)

In [3]:
df.head()

,User_ID,Age,Gender,Location,Subscription_Start_Date,Subscription_Type,Monthly_Payment,Payment_Method,Monthly_Hours_Watched,Favorite_Genre,Devices_Used,Average_Session_Length,Content_ID,Rating_Given,Churned,Date_of_Churn,Reason_for_Churn,tenure
0,1,56,3,3,2020-06-07 01:53:37.656934,1,19.99,1,31.513153,Action,PC,1.195762,1023,5,0,NaT,NaN,NaT
1,2,69,3,1,2024-02-21 01:53:37.656980,2,14.99,1,4.982277,Drama,PC,0.809002,1076,1,0,NaT,NaN,NaT
2,3,46,1,2,2022-10-06 01:53:37.656995,2,14.99,3,4.114953,Sci-Fi,Tablet,1.153570,1095,2,0,NaT,NaN,NaT
3,4,32,1,4,2022-01-04 01:53:37.657006,2,14.99,1,60.244820,Action,TV,0.609503,1003,1,0,NaT,NaN,NaT
4,5,60,1,2,2020-03-13 01:53:37.657017,2,14.99,1,4.711855,Sci-Fi,Mobile,0.359971,1012,4,0,NaT,NaN,NaT

In [4]:
df.Payment_Method.value_counts()

Payment_Method
1    613
2    194
3    193
Name: count, dtype: int64

In [5]:
df.Favorite_Genre.value_counts()

Favorite_Genre
Drama          212
Action         205
Comedy         203
Sci-Fi         192
Documentary    188
Name: count, dtype: int64

In [6]:

Genre_mapping = {"Drama": 1, "Action": 2, "Comedy ": 3, 'Sci-Fi': 4, 'Documentary': 5}
df['Favorite_Genre'] = df['Favorite_Genre'].map(Genre_mapping)

In [7]:
df.Favorite_Genre.value_counts()

Favorite_Genre
1.0    212
2.0    205
4.0    192
5.0    188
Name: count, dtype: int64

In [8]:
df.Devices_Used. value_counts()

Devices_Used
Mobile    408
Tablet    217
TV        201
PC        174
Name: count, dtype: int64

In [10]:
Devices_mapping = {"Mobile": 1, "Tablet": 2, "TV": 3, 'PC': 4}
df['Devices_Used'] = df['Devices_Used'].map(Devices_mapping)

In [11]:
df.Devices_Used. value_counts()

Devices_Used
1    408
2    217
3    201
4    174
Name: count, dtype: int64

now all object data is integer

In [13]:
df.Reason_for_Churn.value_counts()

Reason_for_Churn
Price increase               68
Found better service         64
Personal reasons             62
Dissatisfied with content    52
Name: count, dtype: int64

In [24]:
Reason_mapping = {"Price increase": 1, "Found better service": 2, "Personal reasons": 3, 'Dissatisfied with content': 4}
df['Reason_for_Churn'] = df['Reason_for_Churn'].map(Reason_mapping)
df['Reason_for_Churn'] = df['Reason_for_Churn'].fillna("NaN").map(Reason_mapping)

In [ ]:
Reason_mapping = {"Price increase": 1, "Found better service": 2, "Personal reasons": 3, 'Dissatisfied with content': 4}
df['Reason_for_Churn'] = df['Reason_for_Churn'].map(Reason_mapping)
df['Reason_for_Churn'] = df['Reason_for_Churn'].fillna("NaN").map(Reason_mapping)